.loginForm{
    width:35%;
    margin: auto;
    padding:25px;
    background-color: #eae3db;
}
.loginForm>input{
    display: block;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
    border: none;
}
.loginForm>div{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.loginForm>div>input{
   display: block;
   padding: 5px;
   padding-left: 25%;
   padding-right: 25%;
   background-color: #ad9551;
   color: white;
   border: none;
}
.loginForm p{
   font-size: 12px;
}
.loginForm>p{
   margin-top: 40px;
   margin-bottom: 40px;
}

/* media queries for responsiveness */

@media screen and (max-width: 768px) {
   .loginForm>input{
      padding: 5px;
   }
   .loginForm p,
   .loginForm h4{
      margin: 8px;
   }
   .loginForm>div>input{
      width: 95%;
      margin: auto;
      margin-top: 15px;
   }
   .loginForm>div{
      display: block;
      width: 80%;
      margin: auto;
   }
   .loginForm>div p{
      text-align: center;
   }
 }
 
@media screen and (max-width: 500px) {
   .loginForm>input{
      padding: 5px;
   }
   .loginForm p,
   .loginForm h4{
      margin: 8px;
   }
   .loginForm>div>input{
      width: 95%;  
      margin: auto;
      margin-top: 15px;
   }
   .loginForm p:nth-child(5){
      display: none;
   }
   .loginForm>div{
      display: block;
      width: 80%;
      margin: auto;
   }
   .loginForm>div p{
     text-align: center;
   }
 }