.loginForm{
    border: 1px solid black;
    width:35%;
    margin: auto;
    padding:25px;
}
.loginForm>input{
    display: block;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
}
.loginForm>div{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.loginForm>div>input{
   display: block;
   padding: 5px;
   padding-left: 80px;
   padding-right: 80px;
   background-color: black;
   color: white;
}
.loginForm p{
   font-size: 12px;
}
.loginForm>p{
   margin-top: 40px;
   margin-bottom: 40px;
}